body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1020px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u290_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:900px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u290 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:59px;
  width:1000px;
  height:900px;
}
#u290_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u291_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:35px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u291 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:10px;
  width:138px;
  height:35px;
  font-size:16px;
  color:#FFFFFF;
}
#u291_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:134px;
  word-wrap:break-word;
}
#u292_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:35px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u292 {
  border-width:0px;
  position:absolute;
  left:192px;
  top:10px;
  width:138px;
  height:35px;
  font-size:16px;
  color:#FFFFFF;
}
#u292_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:134px;
  word-wrap:break-word;
}
#u293_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 153, 0, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u293 {
  border-width:0px;
  position:absolute;
  left:144px;
  top:64px;
  width:131px;
  height:60px;
  font-size:14px;
  color:#FFFFFF;
}
#u293_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:127px;
  word-wrap:break-word;
}
#u294_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:601px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#000000;
  text-align:left;
}
#u294 {
  border-width:0px;
  position:absolute;
  left:294px;
  top:64px;
  width:601px;
  height:60px;
  font-size:14px;
  color:#000000;
  text-align:left;
}
#u294_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:597px;
  word-wrap:break-word;
}
#u295_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 153, 0, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u295 {
  border-width:0px;
  position:absolute;
  left:144px;
  top:151px;
  width:131px;
  height:60px;
  font-size:14px;
  color:#FFFFFF;
}
#u295_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:127px;
  word-wrap:break-word;
}
#u296_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 153, 0, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u296 {
  border-width:0px;
  position:absolute;
  left:144px;
  top:829px;
  width:131px;
  height:60px;
  font-size:14px;
  color:#FFFFFF;
}
#u296_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:127px;
  word-wrap:break-word;
}
#u297_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:601px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#000000;
  text-align:left;
}
#u297 {
  border-width:0px;
  position:absolute;
  left:294px;
  top:828px;
  width:601px;
  height:60px;
  font-size:14px;
  color:#000000;
  text-align:left;
}
#u297_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:597px;
  word-wrap:break-word;
}
#u298_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u298 {
  border-width:0px;
  position:absolute;
  left:294px;
  top:151px;
  width:375px;
  height:667px;
}
#u298_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
