body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1020px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u246_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:900px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u246 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:59px;
  width:1000px;
  height:900px;
}
#u246_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u247_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:35px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u247 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:10px;
  width:138px;
  height:35px;
  font-size:16px;
  color:#FFFFFF;
}
#u247_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:134px;
  word-wrap:break-word;
}
#u248_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:120px;
}
#u248 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:90px;
  width:120px;
  height:120px;
  font-size:16px;
  color:#FFFFFF;
}
#u248_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:50px;
  width:116px;
  word-wrap:break-word;
}
#u249_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:120px;
}
#u249 {
  border-width:0px;
  position:absolute;
  left:749px;
  top:90px;
  width:120px;
  height:120px;
  font-size:16px;
  color:#FFFFFF;
}
#u249_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:50px;
  width:116px;
  word-wrap:break-word;
}
#u250_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u250 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:259px;
  width:375px;
  height:667px;
}
#u250_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u251 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u252_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  height:78px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 0, 0, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u252 {
  border-width:0px;
  position:absolute;
  left:589px;
  top:463px;
  width:264px;
  height:78px;
  text-align:left;
}
#u252_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u253_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:65px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u253 {
  border-width:0px;
  position:absolute;
  left:601px;
  top:470px;
  width:241px;
  height:65px;
  text-align:left;
}
#u253_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:25px;
  width:237px;
  word-wrap:break-word;
}
#u254 {
  border-width:0px;
  position:absolute;
  left:518px;
  top:388px;
  width:0px;
  height:0px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u254_seg0 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-4px;
  width:10px;
  height:8px;
}
#u254_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-4px;
  width:8px;
  height:122px;
}
#u254_seg2 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:110px;
  width:81px;
  height:8px;
}
#u254_seg3 {
  border-width:0px;
  position:absolute;
  left:-12px;
  top:-9px;
  width:18px;
  height:18px;
}
#u254_seg4 {
  border-width:0px;
  position:absolute;
  left:58px;
  top:105px;
  width:19px;
  height:18px;
}
#u254_text {
  border-width:0px;
  position:absolute;
  left:-56px;
  top:84px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u255 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u256_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  height:78px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 0, 0, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u256 {
  border-width:0px;
  position:absolute;
  left:589px;
  top:835px;
  width:264px;
  height:78px;
  text-align:left;
}
#u256_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u257_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:65px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u257 {
  border-width:0px;
  position:absolute;
  left:601px;
  top:842px;
  width:241px;
  height:65px;
  text-align:left;
}
#u257_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:237px;
  word-wrap:break-word;
}
#u258 {
  border-width:0px;
  position:absolute;
  left:410px;
  top:891px;
  width:0px;
  height:0px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u258_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:116px;
  height:8px;
}
#u258_seg1 {
  border-width:0px;
  position:absolute;
  left:108px;
  top:-21px;
  width:8px;
  height:25px;
}
#u258_seg2 {
  border-width:0px;
  position:absolute;
  left:108px;
  top:-21px;
  width:71px;
  height:8px;
}
#u258_seg3 {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:-9px;
  width:18px;
  height:18px;
}
#u258_seg4 {
  border-width:0px;
  position:absolute;
  left:166px;
  top:-26px;
  width:19px;
  height:18px;
}
#u258_text {
  border-width:0px;
  position:absolute;
  left:48px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
