body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1020px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:900px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:59px;
  width:1000px;
  height:900px;
}
#u6_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:120px;
}
#u7 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:90px;
  width:120px;
  height:120px;
  font-size:16px;
  color:#FFFFFF;
}
#u7_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:50px;
  width:116px;
  word-wrap:break-word;
}
#u8_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:120px;
}
#u8 {
  border-width:0px;
  position:absolute;
  left:749px;
  top:90px;
  width:120px;
  height:120px;
  font-size:16px;
  color:#FFFFFF;
}
#u8_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:50px;
  width:116px;
  word-wrap:break-word;
}
#u9 {
  border-width:0px;
  position:absolute;
  left:290px;
  top:150px;
  width:0px;
  height:0px;
}
#u9_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:463px;
  height:8px;
}
#u9_seg1 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:-10px;
  width:21px;
  height:20px;
}
#u9_seg2 {
  border-width:0px;
  position:absolute;
  left:446px;
  top:-10px;
  width:20px;
  height:20px;
}
#u9_text {
  border-width:0px;
  position:absolute;
  left:180px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:258px;
}
#u10 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:314px;
  width:300px;
  height:258px;
}
#u10_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:258px;
}
#u11 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:633px;
  width:300px;
  height:258px;
}
#u11_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u12 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:582px;
  width:300px;
  height:18px;
  text-align:center;
}
#u12_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u13_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u13 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:901px;
  width:300px;
  height:18px;
  text-align:center;
}
#u13_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u14_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:300px;
}
#u14 {
  border-width:0px;
  position:absolute;
  left:621px;
  top:441px;
  width:300px;
  height:300px;
}
#u14_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u15 {
  border-width:0px;
  position:absolute;
  left:621px;
  top:751px;
  width:300px;
  height:18px;
  text-align:center;
}
#u15_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u16 {
  border-width:0px;
  position:absolute;
  left:470px;
  top:443px;
  width:0px;
  height:0px;
}
#u16_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:88px;
  height:8px;
}
#u16_seg1 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:-4px;
  width:8px;
  height:156px;
}
#u16_seg2 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:144px;
  width:71px;
  height:8px;
}
#u16_seg3 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:-10px;
  width:21px;
  height:20px;
}
#u16_seg4 {
  border-width:0px;
  position:absolute;
  left:138px;
  top:138px;
  width:20px;
  height:20px;
}
#u16_text {
  border-width:0px;
  position:absolute;
  left:34px;
  top:57px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  border-width:0px;
  position:absolute;
  left:470px;
  top:762px;
  width:0px;
  height:0px;
}
#u17_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:88px;
  height:8px;
}
#u17_seg1 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:-175px;
  width:8px;
  height:179px;
}
#u17_seg2 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:-175px;
  width:71px;
  height:8px;
}
#u17_seg3 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:-10px;
  width:21px;
  height:20px;
}
#u17_seg4 {
  border-width:0px;
  position:absolute;
  left:138px;
  top:-181px;
  width:20px;
  height:20px;
}
#u17_text {
  border-width:0px;
  position:absolute;
  left:34px;
  top:-85px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:35px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u18 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:10px;
  width:138px;
  height:35px;
  font-size:16px;
  color:#FFFFFF;
}
#u18_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:134px;
  word-wrap:break-word;
}
#u19_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:35px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u19 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:10px;
  width:138px;
  height:35px;
  font-size:16px;
  color:#FFFFFF;
}
#u19_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:134px;
  word-wrap:break-word;
}
#u20_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:35px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u20 {
  border-width:0px;
  position:absolute;
  left:318px;
  top:10px;
  width:138px;
  height:35px;
  font-size:16px;
  color:#FFFFFF;
}
#u20_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:134px;
  word-wrap:break-word;
}
